@model Clubmates.Web.Models.AdminViewModel.ClubViewModel

@{

    ViewData["Title"] = "Create new Club";

}
<div class="form-container">
    <form class="form" asp-controller="Admin" asp-action="CreateClub" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group">
            <label for="ClubName">Club Name</label>
            <input type="text" class="form-control" id="ClubName" name="CLubName" value="@Model.ClubName" />
        </div>


        <div class="form-group">
            <label for="ClubType">Club Type</label>
            @Html.DropDownListFor(x => x.ClubType, Model.ClubTypes, "Select a Type", new { @id = "ClubType", @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="ClubDescription">Club Description</label>
            <input type="text" class="form-control" id="ClubDescription" name="ClubDescription" value="@Model.ClubDescription" />
        </div>
        <div class="form-group">
            <label for="ClubCategory">Club Category</label>
            @Html.DropDownListFor(x => x.ClubCategory, Model.ClubCategories, "Select a Category", new { @id = "ClubCategory", @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="ClubManager">Club Manager Email</label>
            <input type="text" class="form-control" id="ClubManager" name="ClubManager" value="@Model.ClubManager" />
        </div>
        <div class="form-group">
            <label for="ClubRules">Club Rules</label>
            <input type="text" class="form-control" id="ClubRules" name="ClubRules" value="@Model.ClubRules" />
        </div>
        <div class="form-group">
            <label for="ClubContactNumber">Club Contact Number</label>
            <input type="text" class="form-control" id="ClubContactNumber" name="ClubContactNumber" value="@Model.ClubContactNumber" />
        </div>
        <div class="form-group">
            <label for="ClubEmail">Club Email</label>
            <input type="text" class="form-control" id="ClubEmail" name="ClubEmail" value="@Model.ClubEmail" />
        </div>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Back</a>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
