@model Clubmates.Web.Models.AccountViewModel.CreateUserViewModel

@{

    ViewData["Title"] = "Edit User";

}
<div class="form-container">
    <form class="form" asp-controller="Admin" asp-action="CreateUser" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" />
        </div>
        <div class="form-group">
            <label asp-for="EmailId">EmailId</label>
            <input type="text" class="form-control" id="EmailId" name="EmailId" value="@Model.EmailId" />
        </div>
        <div class="form-group">
            <label asp-for="ConfirmEmailId">Confirm Email</label>
            <input type="password" class="form-control" id="ConfirmEmailId" name="ConfirmEmailId" value="@Model.ConfirmEmailId" />
        </div>
        <div>
            <label asp-for="Password">Password</label>
            <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password" />
        </div>
        <div>
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" value="@Model.ConfirmPassword" />
        </div>
        <div class="form-group">
            <label asp-for="Role">Role</label>

            @Html.DropDownListFor(x => x.Role, Model.Roles, "Select a role", new { @id = "Role", @class = "form-control" })
        </div>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Back</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>