@model IEnumerable<Clubmates.Web.Models.AccountViewModel.UserViewModel>
@{
    ViewBag.Title = "Manage Users";
}
@if (Model != null && Model.Any())
{
    <div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.EmailId</td>
                        <td>@user.Role</td>
                        <td>
                            <a asp-controller="Admin" asp-action="EditUser" asp-route-email="@user.EmailId" class="btn btn-primary">Edit</a>
                            <a asp-controller="Admin" asp-action="DeleteUser" asp-route-email="@user.EmailId" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div>
        <h3>No users found</h3>
    </div>
}
<div>
    <a asp-controller="Admin" asp-action="CreateUser" class="btn btn-success mb-3">Create New Account</a>
</div>